<% include header %>

	<h1>Welcome to Set-List.me!</h1>
	<p>Please sign in below to access your dashboard.</p>
	<form method="POST" action="/login" id="login">
		<input type="text" id="username" name="username" value="admin" />
		<input type="password" id="password" name="password" value="denver11" />
		<input type="submit" value="!" />
	</form>

<% include footer %>