html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, del, dfn, em, font, img, ins, kbd, q, s, samp, acronym, address, big, cite, code,small, strike, strong, sub, sup, tt, var,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {font-size:100%;font-family:inherit;vertical-align:baseline;margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;}caption, th, td {text-align:left;font-weight:normal;}table {border-collapse:separate;border-spacing:0;}blockquote:before,blockquote:after,q:before,q:after {content: "";}blockquote, q {quotes: "" "";}


body {
	font-family: 'Karla', sans-serif;
	font-size: 12px;
	line-height: 22px;
	background: url(images/carbon_fibre_big.png);
}

#container {
	width: 960px;
	margin:0 auto;
	margin-top: 50px;
}

#logo {
	margin-bottom: -10px;
}

#content {
	padding: 25px 15px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: #FFF;
}

#tools {
	color: #FFFFFF;
	font-weight: bold;
	margin-top: -50px;
	position: absolute;
	text-align: right;
	width: 930px;
}

#tools a:link, #tools a:visited {
	color: #FFF;
	text-decoration: none;
}

#tools a:hover {
	color: #fa7373;
}

#songs {
	list-style-type: none;
}

input#song {
	color: #777;
	padding: 9px;  
    border: solid 1px #E5E5E5;  
    outline: 0;  
    font: normal 13px/100% Verdana, Tahoma, sans-serif;  
    width: 135px;  
    background: #FFFFFF; 
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #000000), to(#FFFFFF));  
    background: -moz-linear-gradient(top, #FFFFFF, #000000 1px, #FFFFFF 25px);
    background: #FFFFFF url('/images/bg_form.png') left top repeat-x;
    -webkit-transition:All 0.5s ease-in-out;
	-moz-transition:All 0.5s ease-in-out;
	-o-transition:All 0.5s ease-in-out;
}

input#song:focus {
	width: 325px;
	-webkit-transition:All 0.5s ease-in-out;
	-moz-transition:All 0.5s ease-in-out;
	-o-transition:All 0.5s ease-in-out;
}

input#song:hover {
	border-color: #C9C9C9;
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}

a.delete:link, a.delete:visited {
	color: #CC0000;
	text-decoration: none;
}

a.delete:hover {
	color: #777;
}

a {
	-webkit-transition:All 0.5s ease-in-out;
	-moz-transition:All 0.5s ease-in-out;
	-o-transition:All 0.5s ease-in-out;
}

/* ------------- Typograhy ------------- */

#content p, #content ul, #content ol {
	margin-bottom:15px;
}

#content ul, #content ol {
	list-style-position:inside;
}

#content strong, #content b {
	font-weight:bold;
}

#content i, #content em {
	font-style:italic;
}

h1 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
	color: #CC0000;
	letter-spacing: -1px;
}

h2 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 0px;
	color: #000;
	letter-spacing: -1px;
	margin-top:25px;
}

.red {
	color:#fa7373;
}

.darkRed {
	color: #CC0000;
}

.bold {
	font-weight: bold;
}

.alignleft {
	float:left;
	padding-right:10px;
	margin-top:5px;
	padding-bottom:10px;
}

.alignright {
	float:right;
	padding-left:10px;
	margin-top:5px;
	padding-bottom:10px;
}

/* ----------- END Typograhy ----------- */